.style:focus {
  outline: none;
  box-shadow: none;

}
.style{
    box-shadow: none !important;
}
.slide{

  overflow-x: scroll; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
}